*{
    box-sizing: border-box;
}

/* text color */
.text-white{
    color: white;
}
.text-red{
    color: red;
}

/* background color */
.blue-deep{
    background-color: #367fa9;
}
.green-deep{
    background-color: rgb(65, 184, 131);
}

/* size */
.h-50{
    height: 50px;
}
.h-100per{
    height: 100%;
}
.w-50{
    width: 50px;
}

/* margin */
.mt-0{
    margin-top: 0;
}
.m-0{
    margin: 0;
}
.mr-15{
    margin-right: 15px;
}
.mb-15{
    margin-bottom: 15px;
}
.mt-15{
    margin-top: 15px;
}

/* padding */
.pr-15{
    padding-right: 15px
}
.pl-10{
    padding-left: 10px
}
.p-0{
    padding: 0
}

/* flexbox */
.perfect-center-ctn{
    display: flex;
    justify-content: center;
    align-items: center;
}

// display style
.d-none{
    display: none;
}

/* styles */
nav.nav-o1{
    background-color: rgb(40, 115, 82);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 4px grey;

    div{
        display: flex;
        align-items: center;
    }
    a{
        color: #cbbde2;
        text-decoration: none;
    }
    a.active{
        color: white;
        font-weight: bold;
    }
    a.logo{
        font-size: 1.5rem;
        color: rgb(40, 115, 82);
        background-color: #cbbde2;
        padding: 0 4px;
        border-radius: 3px;
    }

    span.menu-item{
        color: #cbbde2;
        cursor: pointer;
    }
    span.menu-item:hover{
        color: white;
    }
}
aside.aside-o1{
    width: 15%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-right: 1px solid #a8a8a8;

    span.menu-item{
        color: rgba(0,0,0,.65);
        padding-bottom: 10px;
        cursor: pointer;
    }
    span.menu-item:hover{
        color: black;
    }
}
footer.footer-o1{
    background-color: rgb(40, 115, 82);
    display: flex;
    align-items: center;
    padding: 15px;
    width: 100%;
    
    a.logo{
        font-size: 2rem;
        color: rgb(40, 115, 82);
        background-color: #cbbde2;
        padding: 0 4px;
        border-radius: 3px;
        text-decoration: none;
        margin-right: 20px;
    }

    p{
        color: white;
    }
}
div.middle-ctn{
    display: flex;

    div.main-content-ctn{
        width: 85%;
        padding: 15px;
        
        div.heading{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}