*{
    box-sizing: border-box;
}

/* text color */
.text-white{
    color: white;
}
.text-red{
    color: red;
}

/* background color */
.blue-deep{
    background-color: #367fa9;
}
.green-deep{
    background-color: rgb(65, 184, 131);
}

/* size */
.h-50{
    height: 50px;
}
.h-100per{
    height: 100%;
}
.mh-100vh{
    min-height: 100vh;
}
.w-200px{
    width: 200px;
}
.w-50px{
    width: 50px;
}
.w-30px{
    width: 30px;
}
.w-80vw{
    width: 80vw;
}

/* margin */
.m-0{
    margin: 0;
}
.mt-0{
    margin-top: 0;
}
.mt-15{
    margin-top: 15px;
}
.mt-10vh{
    margin-top: 10vh;
}
.mr-15{
    margin-right: 15px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-10{
    margin-bottom: 10px;
}


/* padding */
.pr-15{
    padding-right: 15px
}
.pl-10{
    padding-left: 10px
}
.p-0{
    padding: 0
}

/* flexbox */
.perfect-center-ctn{
    display: flex;
    justify-content: center;
    align-items: center;
}

// display style
.d-none{
    display: none;
}
.t-ellipsis{
    text-overflow: ellipsis;
}


//fake elements
.fake-link-1{
    color: #3490dc;
    text-decoration: none;
    cursor: pointer;
}
.fake-link-1:hover{
    color: #1d68a7;
    text-decoration: none;
}

/* styles */
.header-nav-1{
    height: 60px;
}

footer.footer-o1{
    background-color: rgb(52, 58, 64);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 100%;
    height: 70px;
    
    span.footer-span{
        color: rgba(255, 255, 255, 0.5);
    }
}
div.middle-ctn{
    display: flex;


}
div.loading-img-ctn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 200px;
    background-color:gray;

    span{
        color: white;
    }
}
.loaded-img-ctn{
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-left: 1px solid rgba(0, 0, 0, 0.125);
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    width: 350px;
    height: 200px;
    background-color:white;
}
div.post-heading-ctn{
    display:flex;
    flex-wrap: wrap;

}

.logo{
    font-size: 1.5rem;
    color: rgb(40, 115, 82);
    background-color: #cbbde2;
    padding: 0 4px;
    border-radius: 3px;
    text-decoration: none;
}
.sidebar-o1{
    border-right: 1px solid rgba(0,0,0,.1);
    height: 100vh;
}